apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: judge0-worker-scaler
  namespace: algofox
spec:
  scaleTargetRef:
    name: judge0-worker
  pollingInterval: 5
  cooldownPeriod: 30
  minReplicaCount: 2
  maxReplicaCount: 15
  triggers:
  - type: redis
    metadata:
      address: judge0-redis.algofox.svc.cluster.local:6379
      passwordFromEnv: REDIS_PASSWORD
      listName: resque:queue:1.13.1 # Redis queue list for Judge0 v1.13.1
      listLength: "2" # Scale up much faster if more than 2 items in queue
